$radius: 10px;

.card {
  box-sizing: border-box;
  border: 2px solid #1ba41b;
  border-radius: $radius;
}

.img {
  border-radius: 8px 8px 0 0;
}

.content {
  padding: $radius;
}

.badge {
  top: $radius;
  left: $radius * 2;
  font-size: 24;
}